.user {
  margin-top: 30px;
}
.user .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}
.user .title .addUserBtn {
  padding: 4px 10px;
  background-color: #2b5ec8;
  color: #fff;
  border-radius: 4px;
}
.user .title .addUserBtn:hover {
  background-color: #437cf7;
}
